@import '../../../assets/styles/_variables';

.jumbotron {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 500px;
    position: relative;

    background-image: url("https://firebasestorage.googleapis.com/v0/b/las-coloradas-f30ce.appspot.com/o/main.jpg?alt=media&token=d15051c3-c2c5-4a2a-a827-695edfc5f76c");

    @media (max-width: 767px) {
        height: 400px;
    }

    &:before {
        background: linear-gradient(to right, rgba(0, 0, 0, 0.3) -10%, rgba(0, 0, 0, 0.5) 20%, rgba(0, 0, 0, 0.5) 40%, transparent 80%);
        bottom: 0px;
        content: '';
        left: 0px;
        position: absolute;
        right: 0px;
        top: 0px;
        z-index: 1;

        @media (max-width: 767px) {
            background: rgba(0, 0, 0, 0.45);
        }
    }

    .container {
        height: 100%;
        .info {
            max-width: 40rem;
            z-index: 1;

            h1 {
                color: #fff;
                font-size: 36px;
                text-shadow: 0px 0px 20px #000;
                font-weight: 400;
                span {
                    color: $primary-color;
                }

                @media (max-width: 767px) {
                    font-size: 30px;
                }
            }

            p {
                color: #fff;
                text-shadow: 0px 0px 20px #000;
            }
        }
    }
}