@import '../../../assets/css/_variables';

.jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
    margin-bottom: 0;

    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 500px;
    position: relative;

    background-image: url("https://firebasestorage.googleapis.com/v0/b/las-coloradas-f30ce.appspot.com/o/main.jpg?alt=media&token=d15051c3-c2c5-4a2a-a827-695edfc5f76c");

    &:before {
        background: linear-gradient(to right, rgba(0, 0, 0, 0.3) -10%, rgba(0, 0, 0, 0.5) 20%, rgba(0, 0, 0, 0.5) 40%, transparent 80%);
        bottom: 0px;
        content: '';
        left: 0px;
        position: absolute;
        right: 0px;
        top: 0px;
        z-index: 1;
    }

    .container {
        height: 100%;
        position: relative;

        .info {
            max-width: 40rem;
            left: 15px;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            -webkit-transform: translateY(-50%);
            z-index: 1;

            h1 {
                color: $primary-color;
                font-size: 36px;
                text-shadow: 0px 0px 20px #000;
                font-weight: 300;
            }

            p {
                color: #fff;
                font-weight: 300;
                text-shadow: 0px 0px 20px #000;
            }
        }
    }
}

.page-heading {
    padding-bottom: .5rem;
    margin: 0 60px 1.5rem;
    border-bottom: 2px solid $primary-color;
    font-size: 25px;
    text-transform: uppercase;

    @media screen and (max-width: 480px) {
        margin-left: 10px; 
        margin-right: 10px; 
    }
}