.count {
    position: absolute;
    top: 0px;
    right: -1px;
    font-weight: 600;
    font-size: 12px;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    color: #f44336;
    background-color: #fff;
    z-index: 2;
}