<mat-toolbar class="mat-elevation-z4 fixed-top">
    <div class="d-flex w-100 h-100 justify-content-between align-items-center">
        <!-- <div class="company-name"><span>LAS<span class="color ml-1">COLORADAS</span></span></div> -->
        <span class="d-flex align-items-center">
            <button mat-icon-button color="accent" class="mr-mat-3 mr-2" (click)="openSideNav()">
                <mat-icon>menu</mat-icon>
            </button>
        
            <a [routerLink]="['/']"><app-logo class="d-flex h-100 align-items-center"></app-logo></a>
        </span>

        <div class="search-bar-content">
            <app-search-bar [parent]="searchForm" (search)="goToSearch($event)" (clear)="clear();" [setFull]="setFull" [searchResult]="products$ | async" [loading]="quickSearchLoading$ | async"></app-search-bar>
        </div>

        <span class="d-flex align-items-center">
            <button mat-icon-button color="accent" class="hidden-md-up" (click)="setFullSearchBar()">
                <mat-icon>search</mat-icon>
            </button>
            <!--<button mat-icon-button color="primary" class="mr-2">
                <mat-icon>shopping_cart</mat-icon>
                <span class="count d-flex align-items-center justify-content-center mat-elevation-z1">6</span>
            </button>-->
            
            <app-shopping-cart-icon class="mr-2" [cart]="user ? user.checkout ? user.checkout.cart : null : cart"></app-shopping-cart-icon>
            <div *ngIf="user">
                <button mat-icon-button [matMenuTriggerFor]="menu" class="user-avatar">
                    <img alt="User avatar" class="rounded-circle avatar-sm" [src]="user.photoURL" *ngIf="user.photoURL">
                    <!--<app-no-image type="person" class="rounded-circle avatar-sm o-hidden" *ngIf="!user.photoURL"></app-no-image>-->
                </button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item (click)="logout();">
                        <mat-icon>highlight_off</mat-icon>
                        <span>Salir</span>
                    </button>
                </mat-menu>
            </div>

            <button type="button" mat-button color="accent" class="text-uppercase color" (click)="openLogin()" *ngIf="!user">Acceder</button>
        </span>
    </div>
</mat-toolbar>