<mat-toolbar class="mat-elevation-z4 fixed-top">
    <div class="d-flex w-100 justify-content-between align-items-center">
        <div class="company-name"><span>LAS<span class="color ml-1">COLORADAS</span></span></div>

        <form novalidate [formGroup]="searchForm" class="searchBarMain hidden-sm-down" id="searchBar">
            <div>
                <i class="material-icons searchBarSearchIcon noUserSelect">search</i>
                <input type="text" name="header-search" value="" id="searchBarInput" placeholder="Buscar..." formControlName="search">
                <button mat-icon-button class="clearSearchBarField" (click)="clear();">
                    <mat-icon>clear</mat-icon> 
                </button>
            </div>
        </form>

        <span>
            <button mat-icon-button class="hidden-mat-up" (click)="toggleSearchBar();">
                <mat-icon>search</mat-icon>
            </button>
            <button mat-icon-button [matMenuTriggerFor]="menu" color="primary" class="mr-2">
                <mat-icon>shopping_cart</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item>
                    <mat-icon>dialpad</mat-icon>
                    <span>Redial</span>
                </button>
                <button mat-menu-item disabled>
                    <mat-icon>voicemail</mat-icon>
                    <span>Check voicemail</span>
                </button>
                <button mat-menu-item>
                    <mat-icon>notifications_off</mat-icon>
                    <span>Disable alerts</span>
                </button>
            </mat-menu>
            <button mat-icon-button [matMenuTriggerFor]="userMenu">
                <img alt="User avatar" class="rounded-circle avatar-sm" [matMenuTriggerFor]="userMenu" src="https://lh5.googleusercontent.com/-cSY3k8Emgds/AAAAAAAAAAI/AAAAAAAAABU/j5hcVTL-CfU/photo.jpg">
            </button>
            <mat-menu #userMenu="matMenu">
                <button mat-menu-item>
                    <mat-icon>dialpad</mat-icon>
                    <span>Redial</span>
                </button>
                <button mat-menu-item disabled>
                    <mat-icon>voicemail</mat-icon>
                    <span>Check voicemail</span>
                </button>
                <button mat-menu-item>
                    <mat-icon>notifications_off</mat-icon>
                    <span>Disable alerts</span>
                </button>
            </mat-menu>
        </span>
    </div>
</mat-toolbar>