@import '../../../../assets/styles/_variables';

.product {
    position: relative;

    .product-img {
        width: 100%;
        height: 100%;
        position: relative;
        overflow: hidden;
        padding-top: 66%;
        font-size: calc(1rem + 5vw);
        margin-bottom: 1rem;

        @media only screen and (max-width: 768px) {
            font-size: calc(1rem + 10vw);
        }

        app-no-image {
            width: 100%;
            height: 100%;
            margin-top: -66%;
            position: absolute;
        }

        img {
            width: 100%;
            height: auto;
            margin-top: -66%;
            position: absolute;

            -webkit-transition: all .3s ease-in-out;
            -moz-transition: all .3s ease-in-out;
            -o-transition: all .3s ease-in-out;
            transition: all .3s ease-in-out;
        }

        .favorite {
            position: absolute;
            top: 0.3125rem;
            right: 0.3125rem;
            z-index: 2;
        }

        a {
            .see {
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                right: 0;
                transition: none;
                z-index: 1;
            }

            &:hover {
                .see {
                    background: url('~/assets/img/eye.svg') 50% 50% no-repeat
                }
            }

            &:hover {
                text-decoration: none;
            }
        }

        &:hover {
            img {
                -webkit-filter: blur(1px) brightness(.75);
                filter: blur(1px) brightness(.75);
                transform: scale(1.10,1.10) rotate(.1deg);
                -o-transform: scale(1.10,1.10) rotate(.1deg);
                -moz-transform: scale(1.10,1.10) rotate(.1deg);
                -webkit-transform: scale(1.10,1.10) rotate(.1deg);
            }
        }
    }

    .product-info {
        .product-price {
            margin-bottom: .5rem;
            font-size: 25px;
            color: $primary-color;
        }

        .product-name {
            text-transform: uppercase;
            color: #424242;
            font-size: 15px;
            margin-bottom: .3rem;
            text-overflow: ellipsis;
            overflow: hidden;
            width: 100%;
            white-space: nowrap;

            a {
                color: #3e454c;
            }
        }

        .product-description {
            height: 3.5rem;
            overflow: hidden;
            p {
                font-size: 13px;
                color: $accent-color;
                margin: 0;
            }
        }

        .product-links {
            button {
                font-size: 12px;
                min-width: auto;
                text-transform: uppercase;
            }
        }
    }
  }