@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue.
$candy-app-primary: mat-palette($mat-red);
$candy-app-accent:  mat-palette($mat-grey, 500, A100, A400);

// The warn palette is optional (defaults to red).
$candy-app-warn:    mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$candy-app-theme: mat-light-theme($candy-app-primary, $candy-app-accent, $candy-app-warn);

@mixin mat-sidenav-theme($theme) {
    .mat-sidenav-container {
        position: fixed!important;
        z-index: 1000!important;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        visibility: hidden;
        
        .mat-sidenav {
            width: 240px;
            background-color: #fbfbfb;
            overflow: hidden;

            .mat-subheader {
                padding: 1rem 1rem 0px 1rem;
                height: auto;
            }
        
            .mat-list, .mat-nav-list {
                padding-bottom: .5rem;
            }
        
            .mat-divider {
                //border-top-color: hsla(0, 100%, 100%, .08);
            }
        
            .mat-list .mat-subheader, .mat-nav-list .mat-subheader {
                //color: hsla(0, 0%, 100%, .6)
            }
        
            .mat-list .mat-list-item, .mat-nav-list .mat-list-item {
                font-size: 0.875rem;
            }
        
            .mat-nav-list .mat-list-item:hover, .mat-nav-list .mat-list-item.mat-list-item-focus {
                //background: rgba(25, 25, 25, 0.88);
            }
        }

        .mat-drawer-backdrop.mat-drawer-shown {
            background-color: rgba(0, 0, 0, 0.5);
        }
    }
}

@mixin mat-snack-bar-theme($theme) {
    .mat-snack-bar-container {
        //margin-top: 5rem!important;
        color: #fff;

        &.success {
            background:#4CAF50;
            opacity: .95;
            filter: alpha(opacity=95);
        }
    }

    @media (max-width:768px) {
        .mat-snack-bar-container {
            width: 100vw;
            margin: 0!important;
            box-sizing: border-box!important;
        }
    }
}

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($candy-app-theme);
